@import 'normalize';
@import 'base';
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'placeholders';
@import 'container';

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #262D3D url('../assets/images/webpack.png') no-repeat center center;
	background-size: 50%;
}